


.navbar-inverse .navbar-nav>li>a {
  color: #c51b1b;
  text-decoration: none;
  margin-bottom: 10px;
 

}

.navbar-inverse .navbar-nav li a:hover {
  background-color: #534f2b;
  transition: 0.7s all linear;
  
}.navbar{
    background: rgb(38, 37, 37);
    z-index: 99;
}
    .index-button {
        background-color: rgb(11, 157, 70);
        color: white;
        padding: 10px 20px;
        margin: 8px 150px;
        border: none;
        cursor: pointer;
        display:grid;
        border-radius: 50px;
        
        
      } 
      .index-button:hover {
        opacity: 0.8;
        background-color: #2b1c9e;
        transition: 0.7s all linear;
        height: 100%;
      }
   
.navbar-container{
    z-index: 1;
    margin: 0 auto;
  
    
}.nav-logo{
  
 
    background-image: linear-gradient(to top,rgb(252, 248, 252) 0%,rgb(202, 246, 3) 100%);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-size:2.5rem;
  
} 
    .w-main{
        background-color: black;
       }   .main-container{ /*--imp--*/
            
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-self: center;
            margin: 0 auto;
            height: 90vh;
            background-color: black ;
            z-index: 1;
            width: 100%;
            max-width: 1000px;
            padding: 0 px;
            margin-top: 50px;
     
     
        }
    .main-content h1{
    font-size: 5rem;
    background-color: red;
    background-image: linear-gradient(to top,rgb(40, 8, 248) 0%,pink 100%);
    background-size: 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
     padding:40px;
     margin: 0%;
   
   
    }.main-content P{
        font-size: 2rem;
        background-color: rgb(42, 16, 137);
        background-image: linear-gradient(to top,rgb(236, 209, 8) 0%,rgb(161, 48, 48) 100%);
        background-size: 50%;
        -webkit-background-clip: text;
        -moz-background-clip:text;
        -webkit-text-fill-color:transparent;
        -moz-text-fill-color:transparent;
        margin-bottom: 32px;
        line-height: 2rem;
      
        
    }.main-content h4 {
        position: absolute;
       float:right;
       margin-left: 20px;
       bottom: 0; 
       left: 0;
       width: 100%;
     
    }.main-content button {
        position: absolute;
     text-align: center;
       left: 0;
       color: rgb(214, 19, 19);
    padding: 10px 20px;
    border-radius: 50px;
    background: rgb(250, 251, 252);
    text-decoration:none;
    
     
    }.main-content button a{
        text-decoration: none;
    }

    .main-content{
        background: url(images/images/image/pic1.jpg) ;/*no-repeat center center fixed;*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: contain;
        margin: 1rem;
        height:100% ;
        min-height: 525px;
        position: relative;
        color: aliceblue;
        border-radius: 4px;
        margin-top:-60px;
      
    }@media screen and(max-width:992px){
       
        .main-container{
            display: grid;
            grid-template-columns:auto ;
            align-items: center;
            justify-self: center;
            width: 100%;
            margin: 0 auto;
            height: 90vh;
        }.main-content{
            text-align: center;
            margin-bottom: 4rem;
            background-image: url(images/images/image/pic1-1000.jpg);
            background-size: contain;
           
   }
        .main-content h1{
            font-size: 2.5rem;
            margin-top: 2rem;
        }.main-content h4{
            font-size: 2rem;
            
        }.main-content p{
            font-size: 1.5rem;
            margin-top: 2rem;  
        }.navbar,
        .navbar-inverse {
            font-size: 1.5rem;
            margin-top: 2rem;  
        }
    }

    /* form */
.form-container{
    box-sizing:border-box;
   
  }.purchase-form{
    font-size:30px;
    width: 100%;
    color: white;
    
  }.para{
 color: white;
  }
  
  input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #807d7d;
    border-radius: 4px;
    resize: vertical;
    
    
  } .form-form{
    margin: 40px;
   
  }#info-form{
    background-image: linear-gradient(to top,rgb(40, 8, 248) 0%,rgb(245, 243, 243) 100%);
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    
  }#userName{
    width: 50%;
  }
  
  .form-button[type=submit] {
    background-color: #240a71;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  } .form-button:hover {
    opacity: 0.6;
    background-color: #866cf0;
  }
  
 /*table*/

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    
  }
  
 /*cart*/
      .cart-heading{
        text-align: center;
        color: white;

       }
        /*login*/

    .login-body {
        font-family: Arial, Helvetica, sans-serif;
       
        
    }
    .login-form {
        border: 3px solid #f1f1f1;
      
        
    }#email{
      width: 50%;
    }
    
    .login-input[type=email], input[type=password] {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        display:flex;
        border: 1px solid #5f5d5d;
        box-sizing: border-box;

      }#password{
        color: black;
      }
    
    .login-button {
      background-color: rgb(11, 157, 70);
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 20%;
      display:grid;
      
    }.login-head{
      color: white;
    }
    
    .login-button:hover {
        opacity: 0.8;
      }
    
    .cancelbtn {
      width: 20%;
      padding: 10px 18px;
      background-color: #df3b2f;
      
    }
    
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
    }.login-body h2{
        text-align: center;
    }
    
    img.avatar {
      width: 40%;
      border-radius: 50%;
    }
    
    .login-container {
      padding: 16px;
      color: white;
    }
    
    span.psw {
      float: right;
      padding-top: 16px;
      
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width:990px) {
      span.psw {
         display: block;
         float: none;
      }
      .cancelbtn .login-input .login-container{
         width: 100%;
      }
    }
   /*--carousel--*/

   .carousel {
    margin-left: 5%;
    margin-right: 15%;
        bottom:0;
       width:20%;
       
     
}body{
  background-color: black;
}

ul.slides {
    display: flex;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
   
    list-style: none;
    
    
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    
}

ul.slides input {
    display: none;
     
}


.slide-container { 
    display: block;
    
     
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
    margin-top:60px;
  
}   

.slide-image img {
    
    min-width: 30%;
    height: 100%;
    
    
}

.carousel-controls {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #faf8f8;
}

.carousel-controls label {
    display: none;
    position:absolute;
    padding: 0 20px;
   
    transition: opacity .3s;
    cursor: pointer;

} 

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}


.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

input:checked + .slide-container .slide-image {
    opacity: 2;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}
/*flip*/

.flip-card {
    background-color: transparent;
    width: 100%;  
    border: 1px solid #fdfbfb;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    font-size: larger;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #f5c505;
    color: rgb(13, 13, 13);
    background: linear-gradient(90deg,rgb(232, 24, 135),white);
    
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(31, 32, 33);
    color: white;
    transform: rotateY(180deg);
    background: linear-gradient(90deg,rgb(13, 109, 124),white);
    
  }
  .circle-text {
    text-align: center; /* Centers text within the circle */
    font-size: 20px; /* Adjust as needed */
    color: #333; /* Optional: Set text color */
  }.flip-card-front img{
    width: 5%;
    height: 10%;
  }.flip-p{
   
    position:absolute;
   right: 50px;
      color: green  ;
   padding: 30px 40px;
   border-radius: 50%;
   background: rgb(237, 240, 177);
   text-decoration:none;
  font-size:30px;
   margin-top:-120px;
   border: 2px rgb(59, 59, 243);
  }
 
 /* card */
.card-img-top{

  width: 100%;
  height: 100%;
margin: 3px;
}.card-body{
  background-image: linear-gradient(to top,rgb(65, 62, 62) 0%,rgb(243, 240, 240) 100%);
}


  /* cart */
 
  .gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }