body{
    background-color: rgb(132, 123, 123);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     margin: 0px;


} .image{

    width: 100%;
    height: 500 px;
    object-fit: cover;
    
}.body{
    font-size: 100%;

}
 
  
.details{
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color:rgb(41, 39, 39);
} .welcome-details{
    text-align: center;
}

.nav{
    text-decoration: none;
    color: white;
    font-weight: bold;
    top: 40px; 
    

}
.nav ul li{
margin: o px;
display: flex;
display: inline-block; 
width: 100px; 
height: 40px;

}.nav ul li a{
color: white;
display: inline-block;


}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
    
}.logo-sign{
    text-align: left;
}
.welcome {
    text-align: center;
    padding: 40px 20px;
    border-radius: 25 px;
    background-color: rgb(21, 20, 20);
    color: rgb(232, 236, 236);
    font-style:italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  
    position: relative;
     
}
.welcome img{
    font-size: 100%;
    width: 100%;
    height: 1000px;
    border-radius: 2%;
    box-shadow: 0px 6px 10px white; 
    
   
}.welcome h2{
    position: absolute;
    left: 50%;
    top: 50%;
    color: white(8, 8, 8);
    text-decoration:wavy;
    transform: translate(-50%,-50%);
}

.event{
    margin-top: 50px;
    padding: 100px 60px;
    background-color:rgb(80, 74, 74);
    border-radius: 100px;
    color: rgb(19, 19, 19);
    text-align: center;


}
.event-list {
   display: flex;
  justify-content: space-around;
  background-color: rgb(16, 17, 16);
  
  }
  .event-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:20px
    
}.footer p{
    color: aliceblue;
    text-align: center;
}
.footer img{
    width:100px ;
    height: 50px;

}.footer{
    text-align: center;
  
}.join {
    text-align: center;
    color: rgb(10, 10, 10);
    font-style:italic;

}

fieldset{
    text-align: center;
    border-radius: 10%;
    border-width: 5px;
    box-shadow: 0px 0px 2px rgba(214, 200, 200, 0.3); 
}.contact{
    font-style: italic;


}.images{
    width:10px ;
    height: 50px;
     display: inline;

}
.events {
    margin-top: 20px;
    padding: 40px 20px;
    background-color: white;
    border-radius: 25px;
}


.event {
    padding: 20px;
    margin: 0 10px;
    text-align: center;
    border: black 1px solid;
    max-width: 300px;
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(153, 153, 153, 1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(153, 153, 153, 1);
    box-shadow: 6px 6px 5px 0px rgba(153, 153, 153, 1);
    display: inline-block
    
}

.events {
    margin-top: 20px;
    padding: 40px 20px;
    background-color: rgb(243, 241, 241);
    border-radius: 25px;
}

.event img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.event-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 40px;
}



.devide{
display: inline;  

width: 800px; 

height: 100px; 

border: 8px solid black; 

background-color: moccasin;

overflow:hidden scroll;
 
 
 }
 .menu-area{
    padding: 100px 0;
    text-align: center;
    font-weight: bold;
    color:rgb(1, 1, 1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform:uppercase;
  

 }.single-menu{
    background-color:black;
    border: 2px solid rgb(199, 16, 16);
    padding: 10px;
    text-align: center;
    position: relative;
    
  
 
 }.single-menu img{
    max-width: 200px;
    border:1px solid rgb(15, 14, 14);
    padding: 3px;
    transition: .3s;
 }.single-menu h4{
    border-bottom: 1 px dashed;
    margin: 10px 0;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-size: 24px;


 }.single-menu a{
    display: inline-block;
    color:rgb(241, 120, 7);
    text-transform: uppercase;
    margin-top: 22px;
    
 }@media screen and (max-width:480px){
    .container, .event-list ,.single-menu{
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
 }.menu-items{
    flex-basis: 100%;
    margin-bottom: 30px;
    

 }
 .menu-title{
    text-align: center;
    font-size: 2rem;
    

 }.appetizers{
    margin-top: 50px;
    padding: 60px 20px;
    background-color:rgb(163, 152, 152);
    border-radius: 200px;
    color: rgb(10, 10, 10);
    text-align: center;


}
.single-menu {
   display: flex;
  justify-content: space-around;
  
}.menu-title h1{
    font-size: 2rem;
}
 .single-menu h1{
    font-size: 2rem;
    font-weight: bold;
    color:rgb(214, 214, 139);
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform:uppercase;
    
 }.menu-footer{
text-align: center;

 }.menu-footer p{
    color: aliceblue;
    text-align: center;
}
.menu-footer img{
    width:100px ;
    height: 50px;

}.contact-footer{
    text-align: center;
    margin-top: 200px;
    background-color: rgb(80, 69, 69);

}.contact-footer p{
        color: aliceblue;
        text-align: center;
}.contact-footer img{
    width:100px ;
    height: 50px;

}.location-footer{
    text-align: center;
    margin-top: 00px;

     }.location-footer p{
        color: aliceblue;
        text-align: center;
    }
    .location-footer img{
        width:100px ;
        height: 50px;

   
    }details {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }
      summary {
        cursor: pointer;
        font-weight: bold;
      
      }.submit{
        background-color: green;
      }
 .nav ul li .contact-details .home-details{
    color:rgb(10, 244, 100);
 }.nav ul li .home-details{
    color:rgb(10, 244, 100);
 }.nav ul li .event-details{
    color:rgb(10, 244, 100);
 }.nav ul li .menu-details{
    color:rgb(10, 244, 100);
 }.nav ul li .location-details{
    color:rgb(10, 244, 100);
 }